<%- include('./partials/header.ejs') -%>

<body>
<!-- Begin Nav
================================================== -->

	<%- include('./partials/navbar.ejs') -%>
	
<!-- End Nav
================================================== -->


<div class="container">

	<!-- Begin Featured
	================================================== -->
	<section class="featured-posts">
	<div class="section-title">
		<h2><span>All Articles</span></h2>
	</div>
	<div class="card-columns listfeaturedtag" style="height: 100%; margin-bottom: 200px;">
		<% if (count === 0) {%>
			<h1 style="margin-left: 25%; margin-top: 10%; color: #d6d2d2;">Nothing to see here :)</h1>
		<% }else {%> 
		<!-- begin post -->
		<% postList.forEach(element => { %> 
		<div class="card">
			<div class="row">
				<div class="col-md-5 wrapthumbnail">
					<a href="post?id=<%= element._id%>">
						<div class="thumbnail" style="background-image:url(assets/img/demopic/<%= element.image %>);">
						</div>
					</a>
				</div>
				<div class="col-md-7">
					<div class="card-block">
						<h2 class="card-title"><a href="post?id=<%= element._id%>"><%= element.title %></a></h2>
						<h4 class="card-text"><%= element.article %> </h4>
						<div class="metafooter">
							<div class="wrapfooter">
								<span class="meta-footer-thumb">
									<img class="author-thumb" src="http://www.gravatar.com/avatar/?d=mp">
								</span>
								<span class="author-meta">
								<span class="post-name"><%= element.user_id.firstName %> <%= element.user_id.lastName %></span><br/>
								<span class="post-date">Posted on <%= element._id.getTimestamp().toLocaleDateString("en-UK") %> </span>
								</span>
								<span class="post-read-more" style="margin-left: 10px;"><a href="post?id=<%= element._id%>" title="Read Story"><i class="fa fa-angle-double-right fa-3x"></i></a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% }); %> 
		<% } %> 
		<!-- end post -->

	</div>
	</section>
	<!-- End Featured
	================================================== -->


	<!-- Begin Footer
	================================================== -->

		<%- include('./partials/footer.ejs') -%>

	<!-- End Footer
	================================================== -->

</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
